In [1]:
import pandas as pd
import pymongo
import json
import csv
from pymongo import MongoClient

In [2]:
# setup mongo connection
conn = "mongodb+srv://tesspalan:YSPTuqMosY6PxoXu@cluster0.dhjfw.mongodb.net/myFirstDatabase?retryWrites=true&w=majority"
client = pymongo.MongoClient(conn)

In [3]:
# create db
db = client['climate-dashboard']

In [4]:
keywords = db.keywords

keywords_df = pd.read_csv("data/keyword_search_volume_US.csv")
keywords_df

    date  Sustainability  Environment  Climate Change  Clean Energy
0   2004              51         1035              55            16
1   2005              60          877              52            17
2   2006              60          714              65            22
3   2007              80          714             125            27
4   2008             104          729             127            36
5   2009             121          707             165            46
6   2010             123          665             119            39
7   2011             116          578              99            32
8   2012             110          547             100            29
9   2013             102          549             109            25
10  2014             107          562             153            24
11  2015             102          592             189            24
12  2016              97          558             199            25
13  2017               8           49              25             3

In [5]:
keywords_dict = keywords_df.to_dict("records")
keywords.insert_one({"data": keywords_dict})

In [4]:
# connect to mongo db and collection
jeojson = db.geojson

jeojson_df = pd.read_json("data/data2.json")
jeojson_df

                                              features               type
0    {'geometry': {'coordinates': [[[[-77.53466, 23...  FeatureCollection
1    {'geometry': {'coordinates': [[[-89.1430804105...  FeatureCollection
2    {'geometry': {'coordinates': [[[[-63.6645, 46....  FeatureCollection
3    {'geometry': {'coordinates': [[[-82.9657830471...  FeatureCollection
4    {'geometry': {'coordinates': [[[-82.2681512112...  FeatureCollection
..                                                 ...                ...
170  {'geometry': {'coordinates': [[[165.7799898623...  FeatureCollection
171  {'geometry': {'coordinates': [[[[173.020374790...  FeatureCollection
172  {'geometry': {'coordinates': [[[[155.880025669...  FeatureCollection
173  {'geometry': {'coordinates': [[[[162.119024693...  FeatureCollection
174  {'geometry': {'coordinates': [[[[167.844876743...  FeatureCollection

[175 rows x 2 columns]

In [5]:
jeojson_dict = jeojson_df.to_dict("records")
jeojson.insert_one({"data": jeojson_dict})